/*
CSS by Brandon Vang and Jonathan Davis
Group 86 - Stream Cloud
12/5/2025
-- Citation for CSS file based on Vite default template --
-- No Ai was used in the creation of this file --

*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: light-dark(#E6DBD0, #1A1D23);
  transition: background-color 0.25s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    body {
        background-image: url('./assets/Images/Perfect-Circles-Light.png'); /* Light mode specific image */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('./assets/Images/Perfect-Circles-Dark.png'); /* Dark mode specific image */
    }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  filter: drop-shadow(0 0 10px #00000084);

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

